*,
*::before,
*::after {
  box-sizing: inherit;
  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
