@import "./globals.scss";

.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 485px;
}

.ctaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20vw;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  H2 {
    color: $offWhite;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1.25rem 0 2.5rem 0;
    z-index: 2;
  }
}

.ctaBtn {
  z-index: 2;
  padding: 1.8rem 3rem;
}
