@import "./globals.scss";

.expertsAwait {
  scroll-margin-top: 125px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 8rem;
}

.bgImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;

  h2 {
    text-transform: uppercase;
    color: $offWhite;
    font-size: 4rem;
    margin: 2rem 0 1rem 0;
  }
}

.bar {
  border-bottom: 6px solid $theme;
  width: fit-content;
  margin-left: 0.5rem;

  p {
    font-weight: 500;
    color: $offWhite;
    text-transform: uppercase;
    margin: 0 0 -0.5rem 0;
  }
}

.text {
  p {
    color: $grayText;
    line-height: 2.5rem;
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
}

// Cards
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background-color: $cardBGC;
  padding: 3rem;
  transition: background-color 0.3s ease;
  width: 20vw;
  min-width: 200px;
  max-width: 280px;
  height: 220px;

  .imageWrapper {
    z-index: 2;
    transition: transform 0.3s ease;

    img {
      z-index: 2;
      transition: filter 0.3s ease-in-out;
      will-change: filter;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
    }
  }

  p {
    color: $offWhite;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;
    margin-top: 1rem;
    transition: color 0.3s ease;
  }

  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: $cardBGC;
    filter: brightness(1.2);
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  &:hover {
    background-color: $theme;

    .imageWrapper {
      animation: bounce 1.2s cubic-bezier(0.28, 0.84, 0.42, 1);

      img {
        filter: brightness(0) invert(1);
      }
    }

    p {
      color: $offWhite;
    }

    &::before {
      background-color: $theme;
      filter: brightness(1.2);
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(5px);
  }
  33% {
    transform: translateY(-15px);
  }
  48% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-5px);
  }
  81% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

// Black Segment ****************************************************
.points {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;
  max-width: 60%;
}

.point {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: $darkGrayText;
  font-size: 1.125rem;
  line-height: 2rem;
}
