@import "./globals.scss";

.helpSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  h3 {
    color: $offWhite;
    font-size: 1.125rem;
  }
  h3:first-of-type {
    margin-bottom: 2rem;
  }
  h3:nth-of-type(2) {
    margin-bottom: 0.8rem;
  }
  h3:last-of-type {
    letter-spacing: 1px;
  }

  a {
    color: $grayText;
    margin-bottom: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      color: $theme;
      transition: color 0.5s ease;
    }
  }
}
