@import "./globals.scss";

// HeadTop component
.headTop {
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $offWhite;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  p {
    letter-spacing: 1px;
  }
}

.topContacts {
  display: flex;
  align-items: center;
  gap: 3rem;
  img {
    margin-right: 0.5rem;
  }
}

// Desktop Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  background-color: rgba(0, 0, 0, 0.109);
  transition: all 0.3s ease;
  z-index: 10;
  border-bottom: 1px solid #ffffff27;
  margin-top: 40px;
  transition: all 0.5s ease;
  height: fit-content;

  &.scrolled {
    background-color: $black;
    border-bottom: none;
    margin-top: 0;
    transition: all 0.5s ease;
    height: 80px;
  }
}

.nav {
  margin: 0 auto;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  position: relative;

  p {
    margin: 0;
    cursor: pointer;
    color: $offWhite;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    &:hover {
      color: $theme;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1.9rem; // Should match the gap to the dropdown
    left: 0;
    width: 100%;
    height: 1.9rem; // Height matches the gap
    background-color: transparent; // Invisible but still triggers hover
  }
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: $offWhite;
  padding: 0.5rem 1rem;
  display: block;
  &:hover {
    color: $theme;
  }
}

// Primary dropdown styling
.dropdown {
  position: absolute;
  top: calc(100% + 1.9rem);
  left: 1rem;
  background-color: $offWhite;
  border-top: 4px solid $theme;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.5s ease;
  z-index: 1;

  li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    width: fit-content; // Contain width to content
    padding: 0.5rem 1rem;

    a {
      color: $gray;
      text-decoration: none;
      display: inline-block; // Changed from block to inline-block
      position: relative;
      transition: color 0.3s ease;
      width: fit-content;

      // Animated underline
      &::after {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 100%; // Full width of text
        height: 1px;
        background: $theme;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover {
        color: $theme;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

// Show dropdown on hover
.navItem:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

// Nested dropdown styling
.nestedDropdown {
  position: relative;
}

.nestedItems {
  position: absolute;
  top: 0;
  left: calc(100% + 0.6rem);
  border-top: 4px solid $theme;
  background-color: $offWhite;
  padding: 1rem 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: -0.6rem;
    height: 100%;
    width: 0.6rem;
    background-color: transparent;
  }
}

// Show nested items on hover
.nestedDropdown:hover .nestedItems {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.headerContacts {
  display: flex;
  align-items: center;
  button {
    margin-left: 0.8rem;
  }
}

.socials {
  display: flex;
  gap: 0.8rem;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.275);
  svg {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: $theme;
    }
  }
}
