@import "./globals.scss";

.pageSegment {
  padding: 2rem 10vw;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 4rem;

  img {
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(0%);
      transition: all 0.3s ease;
    }
  }
}

.pageSegmentCenter {
  place-self: center;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}

.underline {
  border-bottom: 6px solid $theme;
  width: fit-content;
  margin-bottom: 2rem;
  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -0.5rem;
  }
}

.tickText {
  color: $darkGrayText;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.benefitItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 0 1 auto;

  .tick {
    color: $theme;
    font-size: 1.2rem;
    font-weight: bold;
    flex-shrink: 0;
  }

  a,
  p {
    color: $darkGrayText;
  }

  a:hover {
    color: $theme;
  }
}
