@import "./globals.scss";

.pageSegmentSmall {
  padding: 0rem 10vw 6rem 10vw;
  display: flex;
  gap: 4rem;

  h2 {
    color: $black;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  p {
    color: $darkGrayText;
    line-height: 2rem;
  }
}

.point {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pointItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tick {
  color: $theme;
  font-weight: bold;
  font-size: 1.2rem;
  flex-shrink: 0;
}
