@import "./globals.scss";

.pageSegment {
  scroll-margin-top: 100px;
  padding: 4rem 10vw;
  display: flex;
  gap: 4rem;

  p {
    color: $darkGrayText;
    line-height: 2rem;
    max-width: 80%;
  }

  img {
    filter: grayscale(0%);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
  }
}

.pageSegmentCentered {
  scroll-margin-top: 100px;
  padding: 0 10vw 4rem 10vw;
  display: flex;
  align-items: center;
  gap: 6rem;

  p {
    color: $darkGrayText;
    line-height: 2rem;
    max-width: 80%;
    &:last-of-type {
      margin-top: 1rem;
    }
  }

  img {
    filter: grayscale(0%);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(100%);
      transition: all 0.3s ease;
    }
  }
}

.underline {
  border-bottom: 6px solid $theme;
  width: fit-content;
  margin-bottom: 2rem;

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: -0.5rem;
  }
}
