@import "./globals.scss";

.pageSegment {
  position: relative;
  scroll-margin-top: 150px;
  display: flex;
  gap: 4rem;
  margin: 8rem;
}

.imgWrapper {
  z-index: 2;
  flex: 1;
  border-bottom: 15px solid $theme;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 0.5rem;
    filter: grayscale(0%);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(100%);
    }
  }
}

.contentWrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.content {
  h2 {
    color: $black;
    font-size: 2.5rem;
    margin: 2rem 0 2rem 0;
    text-transform: uppercase;
    font-weight: 900;
  }

  p:first-child {
    color: $theme;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }

  p:nth-of-type(2) {
    color: #777a7e;
    line-height: 2rem;
    margin-top: 1rem;
  }

  p:nth-of-type(3) {
    color: #777a7e;
    line-height: 2rem;
    margin-top: 1rem;
  }
  p:nth-of-type(4) {
    color: #777a7e;
    line-height: 2rem;
    margin-top: 1rem;
  }
  p:last-child {
    color: #777a7e;
    line-height: 2rem;
    margin-top: 1rem;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.point {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    color: $darkGrayText;
    margin: 0 !important;
  }
}

.tick {
  height: 30px;
  width: 30px;
  border: 1px solid $theme;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    transition: all 0.5s ease;
    background-color: $theme;
    svg {
      stroke: $offWhite;
    }
  }
}

.semi {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: brightness(1.5);
  transform: scaleX(-1);
}
