@import "./globals.scss";

.pageSegment {
  scroll-margin-top: 100px;
  display: grid;
  grid-template-columns: 66% 1fr;
  gap: 2rem;
  padding: 4rem 10vw;

  img {
    object-fit: cover;
  }
}

.pageSegmentReverse {
  scroll-margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 66%;
  gap: 4rem;
  padding: 6rem 10vw;

  img {
    object-fit: cover;
    margin-bottom: -4rem;
  }
}

.contents {
  position: relative;
  grid-row: span 2;
  background-color: $grayBGC;
  padding: 2rem;
  border-radius: 0.1rem;
  height: fit-content;

  h3 {
    color: $black;
    text-transform: uppercase;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .buttonWrapper {
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
    button {
      padding: 1.5rem 3rem;
    }
  }
}

.contentLink {
  position: relative;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease;

  p {
    color: $darkGrayText;
    transition: all 0.3s ease;
    cursor: pointer;

    &::after {
      content: "→";
      position: absolute;
      right: 1rem;
      bottom: 1.25rem;
      opacity: 0;
      color: $theme;
      transition: opacity 0.3s ease;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

a:hover {
  .contentLink {
    background-color: white;

    p {
      color: $theme;
      font-weight: 700;

      &::after {
        opacity: 1;
      }
    }
  }
}

.contentLink[style*="display: flex"] {
  a:hover p {
    color: $theme;
    font-weight: 700;
  }
}

.info {
  h2 {
    color: $black;
    text-transform: uppercase;
    margin: 1rem 0;
    font-weight: 900;
  }

  p {
    margin-top: 1rem;
    color: $darkGrayText;
    line-height: 2rem;
    max-width: 90%;
  }
}
