@import "./globals.scss";

.promo {
  scroll-margin-top: 200px;
  margin: 8rem;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}

.circle {
  width: 120px;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $theme;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  h2 {
    color: $black;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  p {
    color: #777a7e;
    line-height: 2rem;
    max-width: 80%;
  }

  a {
    color: $theme;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bar {
  background-color: $theme;
  width: 10px;
  height: 60px;
}

.barLarge {
  background-color: $theme;
  width: 10px;
  height: 120px;
}
.img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  img {
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    &:hover {
      filter: grayscale(0%);
      transition: all 0.5s ease-in-out;
    }
  }
}
