@import "./globals.scss";

.card {
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
  min-height: 300px;
  flex: 1; /* This allows the card to grow */
  max-width: 400px; /* Prevent cards from getting too wide */
  min-width: 300px;
}

.cardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $cardBGC;
  color: $offWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  transform: translateY(0);
  transition: transform 0.5s ease;

  .card:hover & {
    transform: translateY(-100%);
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-top: 1.5rem;
  }

  img {
    z-index: 3;
  }

  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: $cardBGC;
    filter: brightness(1.1);
    border-radius: 50%;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $theme;
  color: $offWhite;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  overflow: hidden;

  h4 {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.8rem;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
  }

  li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
    margin-left: 1rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $offWhite;
    text-decoration: none;
    border: 1px solid $offWhite;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    margin: auto 0 0 auto;
    width: fit-content;

    &:hover {
      background-color: $theme;
      filter: brightness(1.3);
      transform: scale(1.1);
    }
  }

  .card:hover & {
    transform: translateY(0);
  }

  &::before {
    content: "";
    position: absolute;
    top: -25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: $theme;
    filter: brightness(1.3);
    border-radius: 50%;
    z-index: -1;
  }
}

// Contact Page *****************************
.contactCardWrapper {
  padding: 8rem 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-align: center;

  .card .cardImage {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      line-height: 2rem;
    }
    p {
      margin-top: 1rem;
      color: $darkGrayText;
      line-height: 2rem;
    }
  }

  .card .cardContent {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
    }
    li {
      margin-top: 1rem;
      list-style-type: none;
    }

    a {
      margin: 0.8rem auto -1rem auto;
      align-self: center;
    }

    p {
      max-width: 80%;
      line-height: 2rem;
    }
  }
}
