@import "./globals.scss";

.services {
  background: url("../public/service-bg.webp") no-repeat center center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 8rem;
}

.content {
  padding-right: 4rem;
  h2 {
    text-transform: uppercase;
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: 900;
    color: $offWhite;
    margin: 1rem 0 2rem 0;
  }
  p {
    color: $grayText;
    line-height: 2rem;
  }
}

.subBox {
  border-bottom: 6px solid $theme;
  width: fit-content;
  p {
    color: $offWhite;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: -0.8rem;
  }

  span {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

.signature {
  display: flex;
  align-items: center;
  gap: 2vw;
  margin-top: 2rem;
  div {
    border-radius: 50%;
    border: 2px solid $theme;
    padding: 0.5rem;
    width: fit-content;
    img {
      border-radius: 50%;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  gap: 1.5rem;
}
