@import "./globals.scss";

.servicePageCards {
  padding: 6rem 10vw 4rem 10vw;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1 1 280px;
  max-width: 280px;
  min-width: 280px;
  border: 2px solid #d5d5d592;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    cursor: pointer;
  }
}

.content {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $black;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $black;
    font-weight: 900;
    text-transform: uppercase;
    min-height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;
    margin: 0;
  }

  p {
    color: $darkGrayText;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
  }
}

.icon {
  margin: 2rem 0 1rem 0;
  width: 60px;
  height: 60px;
  transition: filter 0.3s ease-in-out;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 7 / 4;
}

.mainImage {
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

// Hover effects
.card a:hover {
  .content::before {
    transform: translateX(0);
  }

  .content h2 {
    color: $offWhite;
  }

  .icon {
    animation: scale 1s ease-in-out infinite;
  }

  .mainImage {
    filter: grayscale(0%);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
